/* Fondo de la pantalla */
.anchor-pane {
    -fx-background-color: linear-gradient(to bottom, #ffb552, #ffa43a);
}

/* Estilo para la tabla */
.table-view {
    -fx-border-color: #ddd;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-background-color: white;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #444;
    -fx-border-color: #f0f0f0;
}

/* Botón "Volver" */
#btnVolver {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 0, 2);
}

#btnVolver:hover {
    -fx-background-color: #1976D2;
}

/* Estilo para las etiquetas principales */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Estilo para las etiquetas dinámicas */
#lblUsuario, #lblCorreo {
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-text-fill: #555;
}

/* Imagen de eliminar videojuego */
.image-view {
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.image-view:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.3, 0, 2);
}